@import url(https://fonts.googleapis.com/css?family=Raleway:300,400,600);
.thumbnail img{
	max-height: 150px;
}
.price {
	font-weight: bold;
	font-size: 16px;
}
.thumbnail .decription{
	color:#888888;
}
